[MAIN]

init-hook="import sys; sys.path.append('./')"

[MESSAGES CONTROL]

disable=
    duplicate-code,
    line-too-long,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-statements
